body {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	margin: 0;
	background-color: #cecece;
}
.textfield {
	font-size: 11px;
	color: #333333;
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	padding-left: 1px;
}
h1 {
	color: #99CC00;
	margin: 0px 0px 5px;
	padding: 0px 0px 3px;
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed #E6E8ED;
}
a {
	color: #2D3954;
	font-size: 11px;
}
a:hover {
	color: #99CC00;
}
.notification {
	display: compact;
	float: right;
}
.err {
	color: #FF9900;
}
.succ {
	color: #99CC00;
}
.pos {
	color: #99CC00;
}
.neg {
	color: #FF9900;
}
th {
	font-weight: bold;
	text-align: left;
}

p.registerlink {
    
      text-align: center;

}
.header {
	background-image: -webkit-gradient(linear, left bottom, left top, from(#6493d2), from(#6493d2), to(rgb(195, 214, 232)));
	background-image: -moz-linear-gradient(90deg, #6493d2 0%, #6493d2 0%, rgb(195, 214, 232) 100%);
	height: 70px;
	padding: 0;
	width: 100%;
	border-bottom-color: #dce7f1;
	-moz-box-shadow: 0 0 5px #000000;
	-webkit-box-shadow: 0 0 5px #000000;
	box-shadow: 0 0 5px #000000;
	z-index: 1;
	position: absolute;
}
#logo {
	text-align: center;
	  width: 200px;
	  height: 70px;
	  background: url(../images/logo.png) no-repeat;
	  margin: 0 auto;
  }

.pagebody {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 25px;
	padding-top: 60px;
	width: 600px;
	background-color: #f0f0f0;
	  border-left: 2px solid #bababa;
	  border-right: 2px solid #bababa;
	  height: 100%;
	  margin: -45px auto 0;
  }
.menu {
 	width: 600px;
 	
 	margin-left: auto;
 	margin-right: auto;
	 padding-top: 70px;
 }
.footer {
	border-top: 1px dashed #E6E8ED;
	margin: 5px 0px;
	padding: 5px 0px 3px;
}

#formContainer {
	margin: 10px;
	float: left;
}
#userContainer {
	margin: 10px;
	float: left;
}
#resultContainer {
	margin: 10px;
	clear: left;
}	
#projectsContainer {
	margin: 10px;
	clear: left;
}
#projectspan{
	padding: 5px;
	line-height: 25px;
}
#result {
	padding: 10px;
}
.projectlist {
	margin-right: 10px;
	cursor: pointer;
}
#add_project{
	margin: 
}
/* @group notifications */
.close_button{
	right: -23px;
	float: right;
	top: -23px;
	position: relative;
	
}
/* @end */
/* @group main form */
.mf {
	width: 200px;
	height: 240px;
}

.mftime {
	padding-top: 15px;
	padding-bottom: 5px;
}

#mfcomment {
	padding-top: 5px;
	padding-bottom: 5px;
}
/* @end */
/* @group user pan */
.userpan {
	width: 340px;
	height: 240px;
}
.avatar{
	margin-left: 7px;
	margin-right: 7px;
	width: 100px;
	height: 100px;
	border: 3px solid white;
	-moz-box-shadow: 0 0 5px #000000;
	-webkit-box-shadow: 0 0 5px #000000;
	box-shadow: 0 0 5px #000000;
	float: left;

}
.profilehead {

	font-weight: bold;

}
/* @end */
/* @group table view */

.profiletag {
	padding-bottom: 3px;
	padding-top: 3px;
}
.container {
	text-align: center;
	min-width: 500px;

}

.hf_tab {
	
	text-align: left;
	width: 12.1%;
	display: inline-block;
	margin: 2px;
	color: #000;
}


.week_container {
	width: 100%;
	height: 80%;
	font-size: 10px;
	text-align: center;
	background-color: #ff9d8c;
}

.day_container {
	height: 100%;
	width: 12.1%; 
	display: inline-block;
	background-color: #dfdbe1;
	border: 1px solid #000;
	margin: 2px;
	padding-left: 2px;
}

.work_tab{
	left:  -2px;
	width:  100%;
	background-color: #a10b11;
	position: relative;
	text-align: center;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding-right: 1px;
	padding-left: 1px;
}

.work_tab a {
	display: block;
	height: 100%;
	width: 100%;
}

.break_tab {
	background-color: #bcbebb;
	position: relative;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}

.break_tab a {
	display: block;
	height: 100%;
	width: 100%;
}

.totals {
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
}

#loading {
	text-align: center;
}

.week_container_list {
	display: block;
}

.day_header_list {
	font-weight: bold;
}

.day_container_list {
	display: table-cell;
	padding-right: 10px;
}

/* @end */

/* @group list view */

 .work_list {
 	list-style-type: none;
 	padding-left: 0px;
 }
 
 .break_list {
 	list-style-type: none;
 	padding-left: 0px;
 	
 }
 
 .work_item_list {
 	
 }
 
 .break_item_list {
 	
 }
 
 .work_break_item_list{
 	padding: 0px;
 }
/* @end */

/* @group Summary list */
.weeklist_item{
	display: table-row;
}
.weeklist_date{
	display: table-cell;
	padding-right: 5px;
}
.weeklist_timestamp{
	display: table-cell;
	padding-right: 5px;
}
.weeklist_holiday{
	display: table-cell;
	padding-right: 5px;
}
.weeklist_diff{
	display: table-cell;
	padding-right: 5px;
}
.weeklist_status{
	display: table-cell;
	padding-right: 5px;	
}

#weeklist_alltotals {
	border-top: 1px solid #000000;
	margin-top: 5px;
	width: 250px;
}
.weeklist_offset {
	font-weight: bold;
}
/* @end */

/* css for timepicker */
.ui-timepicker-div {padding-left:3px;}
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px;}
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.border-top{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 98%;
	border-bottom: 1px dashed #9f9f9f;	
}
.clear {
	clear: both;
} 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}